* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    // background-color: #333;
}

// 设置导航栏
nav {
    background: #2e3458;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    /* display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between; */

    ul {
        float: right;
        margin-right: 20px;

        li {
            display: inline-block;
            list-style: none;
            line-height: 80px;
            margin: 0 5px;

            a {
                color: #fff;
                font-size: 18px;
                padding: 7px 13px;
                border-radius: 3px;
                text-transform: uppercase;
            }

        }
    }

    // 超链接伪类
    a.action,
    a:hover {
        background: #1b9bff;
        transition: .5s;
    }

    .checkbtn {
        float: right;
        line-height: 100px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }

    .checkbtn_img {
        width: 35px;
        height: 35px;
    }

}

label {
    .logo {
        color: #fff;
        font-size: 30px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
    }

    .logo_img {
        width: 113px;
        margin-left: 50px;
    }
}

.banner {
    height: 500px;
    width: 100%;
    background-color: #2c3e5044;
    margin-top: 80px;

    .swiper {
        height: 500px;
        width: 100%;

        .swp1 {
            height: 100%;
            width: 100%;
            margin: 0 auto;
            background-color: rgb(132, 104, 255);
        }

        .swp2 {
            height: 100%;
            width: 100%;
            margin: 0 auto;
            background-color: rgb(51, 195, 51);
        }

        .swp3 {
            height: 100%;
            width: 100%;
            margin: 0 auto;
            background-color: rgb(251, 255, 36);
        }
    }
}

.content {
    height: auto;
    width: 1500px;
    background-color: #2e3458;
    margin: 0 auto;

    .TV_series {
        height: auto;
        width: 100%;
        margin: 0 auto;
        background-color: #ff9e71;

        .max_title {
            height: 80px;
            width: 100%;
            background-color: #71ff71;
            line-height: 80px;

            a {
                font-size: 30px;
                font-weight: 550;
                color: #2e3458;
            }

            a:hover {
                color: #1b9bff;
            }
        }

        .TV_cont {
            height: 700px;
            width: 100%;
            background-color: #25a000;
        }
    }
}

footer {
    height: 250px;
    width: 100%;
    background-color: pink;
}

// 导航栏媒体查询 小于950px一律按移动端比例显示
@media(max-width:950px) {
    label {

        .logo {
            font-size: 30px;
            padding-left: 50px;
        }

    }

    nav {
        ul {
            li {
                a {
                    font-size: 16px;
                }
            }
        }
    }
}

// 媒体查询 小于950px一律按移动端比例显示
@media(max-width:950px) {
    nav {
        ul {
            position: fixed;
            width: 100%;
            height: 70vh;
            background: #2c3e50;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;

            li {
                display: block;

                a {
                    font-size: 20px;
                }
            }

        }

        a.action,
        a:hover {
            background: none;
            color: #6dadee;
        }

        .checkbtn {
            display: block !important;
        }

        #check:checked~ul {
            left: 0;
        }
    }
}

/* nav form{
    float: right;
    display: flex;
    height: 40px;
    border-radius: 2px;
    padding: 2px;
    background: #2e3458;
    min-width: 18%!important;
    border: 1px solid #fff;
  }
  nav form button{
    padding: 0 15px;
    background: #ff3d00;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    border-radius: 2px;
  }
  nav form button img{
    width: 25px;
    height: 25px;
  }
  nav form .search_data{
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    background: none;
    border: none;
  } */