* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
.banner {
  height: 630px;
  width: 100%;
  margin-top: 80px;
}
.banner .swiper {
  height: 630px;
  width: 100%;
}
.banner .swiper img {
  height: 630px;
  width: 100%;
}
.content {
  height: auto;
  width: 1506px;
  background-color: #2e3458;
  margin: 0 auto;
}
.content .TV_series {
  height: auto;
  width: 100%;
  margin: 0 auto;
  background-color: #ff9e71;
}
.content .TV_series .max_title {
  height: 70px;
  width: 100%;
  background-color: #71ff71;
  line-height: 70px;
}
.content .TV_series .max_title a {
  font-size: 30px;
  font-weight: 550;
  color: #2e3458;
}
.content .TV_series .max_title a:hover {
  color: #1b9bff;
}
.content .TV_series .TV_cont {
  height: 760px;
  width: 100%;
  background-color: #25a000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content .TV_series .TV_cont .TV_box:nth-child(1) {
  margin-left: 0;
}
.content .TV_series .TV_cont .TV_box:nth-child(8) {
  margin-left: 0;
}
.content .TV_series .TV_cont .TV_box {
  height: 277px;
  width: 198px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.content .TV_series .TV_cont .TV_box .TV_main {
  display: block;
  height: 277px;
  width: 198px;
  border-radius: 5px;
  background-color: #0cd1d8;
  margin-bottom: 20px;
  transition: all 0.3s;
  float: right;
  z-index: 2;
  position: relative;
}
.content .TV_series .TV_cont .TV_box .TV_main:hover {
  transform: scale(1.2);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.content .TV_series .TV_cont .TV_box .introduce {
  height: 50px;
  width: 198px;
  background-color: #ffb8fb;
  position: relative;
  top: 295px;
  z-index: 1;
}
footer {
  height: 250px;
  width: 100%;
  background-color: pink;
}
@media (max-width: 950px) {
  .banner {
    height: 170px;
  }
  .banner .swiper {
    height: 170px;
  }
  .banner .swiper img {
    height: 170px;
  }
  .banner .swiper .swiper-button-prev {
    display: none;
  }
  .banner .swiper .swiper-button-next {
    display: none;
  }
  .content {
    height: auto;
    width: 440px;
    background-color: #2e3458;
    margin: 0 auto;
  }
  .content .TV_series {
    height: auto;
    width: 100%;
    margin: 0 auto;
    background-color: #ff9e71;
  }
  .content .TV_series .max_title {
    height: 50px;
    width: 100%;
    background-color: #71ff71;
    line-height: 50px;
  }
  .content .TV_series .max_title a {
    font-size: 25px;
    font-weight: bold;
    color: #2e3458;
  }
  .content .TV_series .TV_cont {
    height: auto;
    width: 100%;
    background-color: #25a000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .content .TV_series .TV_cont .TV_box:nth-child(1) {
    margin-left: 0px;
  }
  .content .TV_series .TV_cont .TV_box:nth-child(2) {
    margin-left: 0px;
  }
  .content .TV_series .TV_cont .TV_box {
    height: 195px;
    width: 143px;
    margin-left: 0px;
    margin-bottom: 100px;
  }
  .content .TV_series .TV_cont .TV_box .TV_main {
    display: block;
    height: 195px;
    width: 143px;
    border-radius: 5px;
    background-color: #0cd1d8;
    margin-bottom: 20px;
    transition: all 0.3s;
    float: right;
    z-index: 2;
    position: relative;
  }
  .content .TV_series .TV_cont .TV_box .TV_main:hover {
    transform: none;
    box-shadow: none;
  }
  .content .TV_series .TV_cont .TV_box .introduce {
    height: 50px;
    width: 198px;
    background-color: #ffb8fb;
    position: relative;
    top: 220px;
    z-index: 1;
  }
}
/* nav form{
    float: right;
    display: flex;
    height: 40px;
    border-radius: 2px;
    padding: 2px;
    background: #2e3458;
    min-width: 18%!important;
    border: 1px solid #fff;
  }
  nav form button{
    padding: 0 15px;
    background: #ff3d00;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    border-radius: 2px;
  }
  nav form button img{
    width: 25px;
    height: 25px;
  }
  nav form .search_data{
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    background: none;
    border: none;
  } */
