*{
  margin: 0;
  padding: 0;
}
body{
  background: #2e3458;
}
.table{
  width: 340px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
}
.table_item{
  width: 340px;
  height: 60px;
  background: #eee;
}
.table_item div{
  width: 170px;
  height: 60px;
  display: inline-block;
  color: #000;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  /* 设定鼠标的形状为一只伸出食指的手 */
  cursor: pointer;
}
.table_center{
  width: 100%;
}
#table_center_div{
  display: block;
}
.div_v{
  margin: 20px 30px;
  text-align: left;
  display: none;
}
p{
  color: #2e3458;
  margin-top: 30px;
  margin-bottom: 6px;
  font-size: 15px;
}
.table_center input[type="text"],.table_center input[type="password"]{
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #adadad;
  padding: 0 10px;
  box-sizing: border-box;
}
.submit_btn{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #adadad;
  margin-top: 40px;
  color: #fff;
  background: #00dd50;
  cursor: pointer;
  /* 增加或减少字符间的空白 */
  letter-spacing: 4px;
  margin-bottom: 20px;
}
.reset_btn{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #adadad;
  color: #000;
  background: #fff;
  cursor: pointer;
  /* 增加或减少字符间的空白 */
  letter-spacing: 4px;
}
.active{
  background: #fff;
}
.table_item div:hover{
  background: #f6f6f6;
}
.span_p{
  color: red;
  font-size: 13px;
  display: none;
}